<div class="categories">
    <div class="category all">
        <i class="fas fa-home"></i>
        <h2>All Schedule</h2>
        <p>51 tasks</p>
    </div>
    <div class="category personal">
        <i class="fas fa-user-shield"></i>
        <h2>Personal Errands</h2>
        <p>21 tasks</p>
    </div>
    <div class="category work">
        <i class="fas fa-briefcase"></i>
        <h2>Work Projects</h2>
        <p>21 tasks</p>
    </div>
    <div class="category grocery">
        <i class="fas fa-shopping-bag"></i>
        <h2>Grocery Lists</h2>
        <p>21 tasks</p>
    </div>
    <div class="category school">
        <i class="fas fa-school"></i>
        <h2>School Lists</h2>
    </div>
</div>